[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=variation00
Exec=/usr/bin/single-instance /opt/variation00/bin/variation00
Icon=/usr/share/icons/hicolor/80x80/apps/variation0080.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
